<!DOCTYPE html>
<html lang="en">

{% include "fragments/header.html" %}
<script src="https://www.google.com/recaptcha/api.js" defer></script>
<script type="text/javascript" src="/static/js/forget_password.js" defer></script>

<body>
    <div>
        <form id="forget-form" class="vh-100" method="POST" action="/reset/email" style="background-color: #e6eaf0">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-9">
                        <h1 class="text-black mb-4">Reset Request</h1>
                        {% include "fragments/flash_success.html" %}
                        <div class="card" style="border-radius: 15px">
                            <div class="card-body">
                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Email address</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input id="forget-email" type="email" class="form-control form-control-lg"
                                            name="email" placeholder="example@domain.com" />
                                    </div>
                                </div>
                                <hr class="mx-n3" />
                                <div class="px-5 py-4 row">
                                    <div class="g-recaptcha" name="g-recaptcha"
                                        data-sitekey="6LeVUygdAAAAAAnbiTHw_8uJW_7xFPjFdIyNAbRn">
                                    </div>
                                </div>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <hr class="mx-n3" />
                                <div class="px-5 py-4 row">
                                    <div class="col">
                                        <input id="changepw-submit" type="button" value="Submit" onclick="submitForm();"
                                            class="btn btn-primary btn-lg">
                                    </div>
                                    <div class="col">
                                        <a href="/login" class="btn btn-secondary btn-lg">login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>

</html>